<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instruction Result</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }

    div {
      text-align: center;
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    h1, p {
      font-weight: bold;
      color: black;
    }
  </style>
</head>
<body>
<div>
  <h1>Instruction Submitted</h1>
  <p>CIH bank vous remercie,</p>
  <p>Votre demande a bien été enregistrée.</p>
  <p>Vous avez la possibilité de consulter l'état de votre demande à tout moment.</p>
</div>
</body>
</html>
